$colors: (
  main: #46909b,
  secondary: #71b4be,
  tertiary: #249eaf,
  course-color: rgb(154, 33, 33),
  school-color: rgb(154, 33, 33),
);

body {
  background-color: map-get($map: $colors, $key: main);
}

.bold {
  font-weight: bold;
}
.highlight {
  background-color: map-get($map: $colors, $key: tertiary);
  padding: 0.1rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
}
.app {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.course {
  color: map-get($map: $colors, $key: course-color);
}

.school {
  color: map-get($map: $colors, $key: school-color);
}
.overview {
  display: flex;
  flex-direction: column;
  background-color: map-get($map: $colors, $key: secondary);
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem black;

  img {
    max-width: 10rem;
    width: 80%;
    align-self: center;
  }

  section {
    padding: 0 1rem;
  }

  article {
    padding: 0.2rem 0;

    .overview--education--title {
      font-weight: bold;
      font-size: 1.11rem;
      margin-bottom: 0.5rem;
    }
  }

  @media (min-width: 40rem) {
    flex-direction: row;
  }
}
